In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
train_df = pd.read_csv("/content/drive/MyDrive/dataset 2/train.csv")

In [ ]:
train_df

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000
...,...,...,...,...,...,...
2249693,2422167,Nike Women's As W Ny Df Swsh Hn Kh Bra (CZ7610...,Material : Polyester,NaN,3009,1181.100000
2249694,2766635,"(3PCS) Goose Game Cute Cartoon Enamel Pins, Fu...",[❤ [Inspiration] Inspired by the Untitled Goos...,<p><b>[Brand]: </b>XVIEONR</p> <p><br></p> <p>...,3413,125.984252
2249695,1987786,Kangroo Sweep Movement Printed Wooden Wall Clo...,"[Dial size: 12 inches in diameter,Big, clear r...",Wall Clocks Are Very Attractive In Looks And E...,1574,1200.000000
2249696,1165754,Electro Voice EKX-BRKT15 | Wall Mount Bracket ...,NaN,NaN,592,2900.000000
2249697,1072666,Skyjacker C7360SP Component Box For PN[C7360PK...,"[Component Box For PN[C7360PK],4 in. Lift,Incl...",Skyjacker C7360SP Component Box For PN[C7360PK...,7367,2000.000000

In [ ]:
import numpy as np
train_df.replace([np.inf, -np.inf], np.nan, inplace=True)
  
# Dropping all the rows with nan values
train_df.dropna(inplace=True)
train_df.isin([np.inf, -np.inf]).sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
DESCRIPTION        0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [ ]:
train_df

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
5,2152929,HINS Metal Bucket Shape Plant Pot for Indoor &...,"[Simple and elegant, great for displaying indo...",HINS Brings you the most Elegant Looking Pot w...,5725,950.000000
7,2026580,Delavala Self Adhesive Kitchen Backsplash Wall...,[HIGH QUALITY PVC MATERIAL: The kitchen alumin...,<p><strong>Aluminum Foil Stickers-good kitchen...,6030,984.251967
9,2998633,Hexwell Essential oil for Home Fragrance Oil A...,[100% Pure And Natural Essential Oil Or Fragra...,"Transform your home, workplace or hotel room i...",8201,393.700787
...,...,...,...,...,...,...
2249686,1898841,Cocomii Holographic iPhone 11 Pro Case - Holog...,"[COCOMII - UNIQUE, STYLISH, QUALITY: This beau...",<b>COCOMII</b><br><br>We transform amazing ide...,12556,600.000000
2249689,1616561,Have It Tall Men's Curved Hem Long Drop Tail T...,[Light Weight 65% Polyester/ 35% Ring Spun Cot...,This extra long Tall t-Shirt will be your favo...,2879,1200.000000
2249694,2766635,"(3PCS) Goose Game Cute Cartoon Enamel Pins, Fu...",[❤ [Inspiration] Inspired by the Untitled Goos...,<p><b>[Brand]: </b>XVIEONR</p> <p><br></p> <p>...,3413,125.984252
2249695,1987786,Kangroo Sweep Movement Printed Wooden Wall Clo...,"[Dial size: 12 inches in diameter,Big, clear r...",Wall Clocks Are Very Attractive In Looks And E...,1574,1200.000000
2249697,1072666,Skyjacker C7360SP Component Box For PN[C7360PK...,"[Component Box For PN[C7360PK],4 in. Lift,Incl...",Skyjacker C7360SP Component Box For PN[C7360PK...,7367,2000.000000

In [ ]:
train_df.isnull().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
DESCRIPTION        0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1038460 entries, 2 to 2249697
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   PRODUCT_ID       1038460 non-null  int64
 1   TITLE            1038460 non-null  object
 2   BULLET_POINTS    1038460 non-null  object
 3   DESCRIPTION      1038460 non-null  object
 4   PRODUCT_TYPE_ID  1038460 non-null  int64
 5   PRODUCT_LENGTH   1038460 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 55.5+ MB

In [ ]:
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem import WordNetLemmatizer
stop_words = stopwords.words("english")
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
def preprocess(s):
  s=str(s).lower()
  l=[]
  for k in s.split():
    if k not in stop_words:
      l.append(lemmatizer.lemmatize(k))
  return " ".join(l)

In [ ]:

train_df["TITLE"]=train_df.apply(lambda x : preprocess(x.TITLE), axis=1)
train_df["DESCRIPTION"]=train_df.apply(lambda x : preprocess(x.DESCRIPTION), axis=1)
train_df["BULLET_POINTS"]=train_df.apply(lambda x : preprocess(x.BULLET_POINTS), axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()
train_df["TITLE"] = l.fit_transform(train_df["TITLE"])
train_df["BULLET_POINTS"] = l.fit_transform(train_df["BULLET_POINTS"])
train_df["DESCRIPTION"] = l.fit_transform(train_df["DESCRIPTION"])

In [ ]:
train_df.corr()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
PRODUCT_ID,1.000000,0.039143,0.011429,-0.023654,0.066069,-0.001795
TITLE,0.039143,1.000000,0.042935,0.193704,-0.024660,0.001975
BULLET_POINTS,0.011429,0.042935,1.000000,0.008642,-0.033178,0.000016
DESCRIPTION,-0.023654,0.193704,0.008642,1.000000,-0.003174,0.001120
PRODUCT_TYPE_ID,0.066069,-0.024660,-0.033178,-0.003174,1.000000,0.000412
PRODUCT_LENGTH,-0.001795,0.001975,0.000016,0.001120,0.000412,1.000000

In [ ]:
x = train_df[["BULLET_POINTS","TITLE","PRODUCT_TYPE_ID","DESCRIPTION"]]
y = train_df["PRODUCT_LENGTH"]

In [ ]:
x

         BULLET_POINTS   TITLE  PRODUCT_TYPE_ID  DESCRIPTION
2               319508  712894             7537       602476
3               323600   61568             2996       201736
5               493735  430841             5725       402017
7               268421  251940             6030       145898
9                24527  427092             8201       637696
...                ...     ...              ...          ...
2249686         128210  213129            12556        47010
2249689         314290  877164             2879       330319
2249694         647286    1191             3413       108758
2249695         178416  490761             1574       663659
2249697         155450  824201             7367       591263

[1038460 rows x 4 columns]

In [ ]:
'''from sklearn.preprocessing import StandardScaler
s = StandardScaler()
x = s.fit_transform(x)'''

'from sklearn.preprocessing import StandardScaler\ns = StandardScaler()\nx = s.fit_transform(x)'

In [ ]:
x.shape

(1038460, 4)

In [ ]:
y = y.to_numpy()
y = y.reshape(1,-1)
y.shape

(1, 1038460)

In [ ]:
'''
from sklearn.preprocessing import StandardScaler
s = StandardScaler()
y = s.fit_transform(y)'''

'\nfrom sklearn.preprocessing import StandardScaler\ns = StandardScaler()\ny = s.fit_transform(y)'

In [ ]:
y = y.reshape(1038460,1)
y

array([[ 748.0314953 ],
       [ 787.401574  ],
       [ 950.        ],
       ...,
       [ 125.98425184],
       [1200.        ],
       [2000.        ]])

In [ ]:
x = x.to_numpy()
x = x.reshape(1038460, 4,1)

In [ ]:
def min_max_scaling(data):
    """
    Perform Min-Max Scaling on a list of continuous numerical values.
    """
    X_min = min(data)
    X_max = max(data)
    X_norm = [(x - X_min) / (X_max - X_min) for x in data]
    return X_norm

In [ ]:
y = min_max_scaling(y)

In [ ]:
y = np.array(y)
y.shape

(1038460, 1)

In [ ]:
f = pd.DataFrame(x)
f.value_counts()

ValueError: ignored

In [ ]:
x

In [ ]:
from tensorflow import keras

# Encoder
encoder_input = keras.Input(shape=(4, 1))
encoder = keras.layers.LSTM(32)(encoder_input)
encoder_output = keras.layers.Dense(16, activation='relu')(encoder)
encoder_model = keras.Model(encoder_input, encoder_output)

# Decoder
decoder_input = keras.Input(shape=(16,))
decoder = keras.layers.RepeatVector(60)(decoder_input)
decoder = keras.layers.LSTM(32, return_sequences=True)(decoder)
decoder_output = keras.layers.TimeDistributed(keras.layers.Dense(1))(decoder)
decoder_model = keras.Model(decoder_input, decoder_output)

# Autoencoder
autoencoder_input = keras.Input(shape=(4, 1))
encoded = encoder_model(autoencoder_input)
decoded = decoder_model(encoded)
autoencoder = keras.Model(autoencoder_input, decoded)

# Compile and train the autoencoder
autoencoder.compile(optimizer='adam', loss='mae')

#autoencoder.compile(loss = 'binary_crossentropy', optimizer='adam', metrics=['categorical_accuracy'])
autoencoder.fit(x,y, epochs=5, batch_size=32,validation_split=0.2)

# Auto encoders

Epoch 1/5
25962/25962 [==============================] - 235s 9ms/step - loss: 7.7615e-04 - val_loss: 6.5669e-05
Epoch 2/5
25962/25962 [==============================] - 233s 9ms/step - loss: 1.0579e-04 - val_loss: 1.6106e-04
Epoch 3/5
25962/25962 [==============================] - 231s 9ms/step - loss: 1.1111e-04 - val_loss: 5.1735e-05
Epoch 4/5
25962/25962 [==============================] - 229s 9ms/step - loss: 1.2062e-04 - val_loss: 8.3294e-05
Epoch 5/5
25962/25962 [==============================] - 229s 9ms/step - loss: 1.1412e-04 - val_loss: 6.8381e-05

In [ ]:
test_df = pd.read_csv("/content/drive/MyDrive/dataset 2/test.csv")

In [ ]:
import numpy as np
test_df.replace([np.inf, -np.inf], np.nan, inplace=True)
  
# Dropping all the rows with nan values
test_df.dropna(inplace=True)
test_df.isin([np.inf, -np.inf]).sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
DESCRIPTION        0
PRODUCT_TYPE_ID    0
dtype: int64

In [ ]:
test_df["TITLE"]=test_df.apply(lambda x : preprocess(x.TITLE), axis=1)
test_df["DESCRIPTION"]=test_df.apply(lambda x : preprocess(x.DESCRIPTION), axis=1)
test_df["BULLET_POINTS"]=test_df.apply(lambda x : preprocess(x.BULLET_POINTS), axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()
test_df["TITLE"] = l.fit_transform(test_df["TITLE"])
test_df["BULLET_POINTS"] = l.fit_transform(test_df["BULLET_POINTS"])
test_df["DESCRIPTION"] = l.fit_transform(test_df["DESCRIPTION"])

In [ ]:
xt = test_df[["BULLET_POINTS","TITLE","PRODUCT_TYPE_ID","DESCRIPTION"]]

In [ ]:
xt

        BULLET_POINTS   TITLE  PRODUCT_TYPE_ID  DESCRIPTION
1              170599   80702             1622        17478
2               88854  146181             7540       206137
3               31786  227533            12442       120449
5              111170  101118            11205       107926
11              57260  262048             2911       175227
...               ...     ...              ...          ...
734728         223628   93688            12955       115016
734731          39277   61388             7073       255661
734733          16910   37017            10645         7922
734734         105370   58284            12680       124976
734735          74701   24459                0       205796

[337002 rows x 4 columns]

In [ ]:
predictions = autoencoder.predict(xt)

10532/10532 [==============================] - 43s 4ms/step

In [ ]:
predictions

In [ ]:
import numpy as np
ymin = np.min(predictions)

In [ ]:
ymax = np.max(predictions)

In [ ]:
def inverse_min_max_scaling(y_norm, y_min, y_max):
    """
    Perform inverse Min-Max Scaling on a normalized numerical value.
    """
    y_orig = y_norm * (y_max - y_min) + y_min
    return y_orig

In [ ]:
import pandas as pd

# Convert ndarray to DataFrame
df_predictions = pd.DataFrame(predictions.reshape(-1, predictions.shape[-1]))

# Apply inverse_min_max_scaling function to each row of the DataFrame
df_inverse = df_predictions.apply(lambda x: inverse_min_max_scaling(x, ymin, ymax), axis=1)

In [ ]:
rf = xt[""]